
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
}

.calci{
    padding: 5px 10px;
    background-color: #4C4C6D;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.calci form input {
    border: 0px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    background: transparent;
    font-weight: bold;
    /* color: #fff; */
    color: r;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(221, 221, 221, 0.1),5px 5px 10px rgba(0, 0, 0, 0.2);

}

form .output{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .output input{
    text-align: right;
    font-size: 45px;
    flex: 1;
    /* box-shadow: none; */
    border: 2px solid black;
}

form input.equal{
    width: 150px;
    
}

form input.special_btn{
    color:#FF6D60;
}